<!DOCTYPE html>
<head></head>
<body bgcolor="#555555">
<center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<font size="10px">
<h1 style="color: #da0037;">MSS</h1>
</font>
<div class="loading-bar" style="height:5px;border-radius:5px;background-color:#da0037;"></div>
</center>
</body>
</html>